@{
    int i = 0;
    i++;

    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
   Facute de Serban Constantin
</address>

<address>

</address>
