@{
    ViewData["Title"] = "Home Page";
}

Football manager
<br />
Made after
https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db
<br />

<a href="/scores">Scoruri</a>
<br />
<a href="/matches">Meciuri</a>
<br />
<a href="teams">Echipe</a>
<br />
//TODO:
generate controller cu Team
Cind se sterge un team, sa afisezi si sa stergi meciurile
La un meci details afiseaza scoruri si team ( nu uita include in Controller si @@Model  in view)
http://localhost:62242/matches/Details/102
<br />
<br />
//next:
Alte intrebari MVC
<br />
<a href="https://angular.io/tutorial">Angular</a>
<br />
